<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url"><![CDATA[jdbc:mysql://127.0.0.1:3306/bbs?useUnicode=true&characterEncoding=utf-8]]></property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.yfr.po.Article"/>
      <mapping class="com.yfr.po.Bbsuser"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>